<div class="container">

    <ul>
        {{#each burgers}}
        {{/each}}
    </ul>
    <div class ="row">
        <div class="col-md-12">
            <img src="../public/assets/img/burger-clipart.png" alt="clipart img of cheeseburger">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 justify-content-center submitform">
            <form action="build-burgers">
                <input type="text" class="form control" name="burger-type" id="create-burger">
                <button type="submit" class="btn btn-primary" id="submit-burger-bttn">Add Burger</button>
            </form>
        </div>
    </div>
</div>