body{
    background-color: #d9dcd6;
}

h1{ 
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.img-fluid{
    max-width: 90%;
}
.instructions{    
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Courier New', Courier, monospace;
    background-color: silver;
    box-shadow: 0 0 5px;
}

h3{
    font-weight: bolder;
}
.dreamlist{ 
    margin-top: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 2%;
    font-family: 'Courier New', Courier, monospace;
    background-color: steelblue;
    box-shadow: 0 0 5px; 
}
.devoured-list{
    margin-top: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 2%;
    font-family: 'Courier New', Courier, monospace;
    background-color: steelblue;
    box-shadow: 0 0 5px; 
}
.submitform{
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Courier New', Courier, monospace;
    background-color: steelblue;
    box-shadow: 0 0 5px;
}

#submit-burger-bttn{
    margin-top: 10px;
    margin-bottom: 10px;
}
.eat-button{
    padding-left: 2%;

}

.devour{
    padding-right: 4%
}
